
<div id='gift'>
  <h2  style='margin-top: 10px;' class='text-center'>&nbsp;</h2>
<section id='subscribe' class='bg5'>
    <div class='row'>
      <div class='col-md-6'>
        <h1>Give the gift of Socks</h1>
        
        <h3>Sock & Box is the perfect gift for the men in your life. Simply pick the subscription length and you're good to go! They'll thank you every month.</h3>
        <br>
        <p class='text-center'>
        <ul>
          <li> <a class='option' id='oneMonth'>1 pair</a> </li>
          <li> <a class='option' id='twoMonth'>6 pairs</a> </li>
          <li> <a class='option' id='threeMonth'>12 pairs</a> </li>
        </ul>
        </p>
      </div>
      <div class='col-md-6'>
          
            <div class='content-box'>

              <h1 class='text-center'>Sock & Box</h1>
              <p id='infop' class='text-center'>Buy just one pair of socks for  <span style='text-decoration: line-through;'>$8.99</span>!</p>
              <p class='text-center'></p>
          <%= form_tag charges_path, id:'chargeForm' do %>
                             
            <p class='text-center'><a style='font-size: 1.2em;' id="btn-buy" type="button" class='btn'>purchase</a></p>
    
            <br>
             	<%= hidden_field_tag 'stripeToken' %>
              <%= hidden_field_tag 'stripeEmail' %> 
              <%= hidden_field_tag 'billingApt' %>
              <%= hidden_field_tag 'billingCity' %> 
              <%= hidden_field_tag 'billingCountry' %>
              <%= hidden_field_tag 'billingCountryCode' %> 
              <%= hidden_field_tag 'billingAddress1' %> 
              <%= hidden_field_tag 'billingState' %>
              <%= hidden_field_tag 'billingZip' %> 
              <%= hidden_field_tag 'billingName' %>
              <%= hidden_field_tag 'shippingApt' %>
              <%= hidden_field_tag 'shippingCity' %> 
              <%= hidden_field_tag 'shippingCountry' %>
              <%= hidden_field_tag 'shippingCountryCode' %> 
              <%= hidden_field_tag 'shippingAddress1' %> 
              <%= hidden_field_tag 'shippingState' %>
              <%= hidden_field_tag 'shippingZip' %> 
              <%= hidden_field_tag 'shippingName' %>
              <%= hidden_field_tag 'one' %>
              <%= hidden_field_tag 'two' %>
              <%= hidden_field_tag 'three' %>
              
          <% end %>
          </div>
        </div>
      
</section>
</div>
<script src="https://checkout.stripe.com/checkout.js"></script>
<script type="text/javascript">
  
  $('#oneMonth').on('click', function() {
      $('#infop').text('You purchase 1 pair of socks.');
      document.getElementById("two").value = false;
      document.getElementById("three").value = false;
      document.getElementById("one").value = true;
  });

  $('#twoMonth').on('click', function() {
      $('#infop').text('You purchase one pair each month for the next 6 months.');
      document.getElementById("two").value = true;
      document.getElementById("three").value = false;
      document.getElementById("one").value = false;
  });

  $('#threeMonth').on('click', function() {
      $('#infop').text('You purchase one pair each month for the next year.');
      document.getElementById("two").value = false;
      document.getElementById("three").value = true;
      document.getElementById("one").value = false;
  });
  
  var handler = StripeCheckout.configure({
    key: '<%= @stripe_key %>',
    token: function(token, arg) {
      document.getElementById("stripeToken").value = token.id;
      document.getElementById("stripeEmail").value = token.email;
      document.getElementById("billingApt").value = arg.billing_address_city;
      document.getElementById("billingCity").value = arg.billing_address_city;
      document.getElementById("billingCountry").value = arg.billing_address_country;
      document.getElementById("billingCountryCode").value = arg.billing_address_country_code;
      document.getElementById("billingAddress1").value = arg.billing_address_line1;
      document.getElementById("billingState").value = arg.billing_address_state;
      document.getElementById("billingZip").value = arg.billing_address_zip;
      document.getElementById("billingName").value = arg.billing_name;
      document.getElementById("shippingApt").value = arg.shipping_address_apt;
      document.getElementById("shippingCity").value = arg.shipping_address_city;
      document.getElementById("shippingCountry").value = arg.shipping_address_country;
      document.getElementById("shippingCountryCode").value = arg.shipping_address_country_code;
      document.getElementById("shippingAddress1").value = arg.shipping_address_line1;
      document.getElementById("shippingState").value = arg.shipping_address_state;
      document.getElementById("shippingZip").value = arg.shipping_address_zip;
      document.getElementById("shippingName").value = arg.shipping_name;
      
      document.getElementById("chargeForm").submit();
    }
  });
   document.getElementById('btn-buy').addEventListener('click', function(e) {
    handler.open({
      name: 'Sock and Box',
      description: 'Monthly Socks Delivered ($8.99)',
      amount: 899,
      shippingAddress: true,
      billingAddress: true
   });
   e.preventDefault();
  });
   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-57256394-1', 'auto');
  ga('send', 'pageview');
</script>