<div >
  <h2  style='margin-top: 20px;' class='text-center'>Making it rain</h2>
<section id='subscribe' class='bg5'>
    <div class='row'>
      <div class='col-md-3'>&nbsp;</div>
      <div class='col-md-6'>
      
            <div class='content-box'>

              <h1 class='text-center'>Sock & Box</h1>
              <p class='text-center'>Buy just one pair of socks for  <span style='text-decoration: line-through;'>$14.99</span>!<br>(First 50 customers can buy a pair for only $8.99!)</p>
              <p class='text-center'></p>
          <%= form_tag charges_path, id:'chargeForm' do %>
                             
            <p class='text-center'><a style='font-size: 1.2em;' id="btn-buy" type="button" class='btn'>become a member</a></p>
            <br>
             	<%= hidden_field_tag 'stripeToken' %>
              <%= hidden_field_tag 'stripeEmail' %> 
              <%= hidden_field_tag 'billingApt' %>
              <%= hidden_field_tag 'billingCity' %> 
              <%= hidden_field_tag 'billingCountry' %>
              <%= hidden_field_tag 'billingCountryCode' %> 
              <%= hidden_field_tag 'billingAddress1' %> 
              <%= hidden_field_tag 'billingState' %>
              <%= hidden_field_tag 'billingZip' %> 
              <%= hidden_field_tag 'billingName' %>
              <%= hidden_field_tag 'shippingApt' %>
              <%= hidden_field_tag 'shippingCity' %> 
              <%= hidden_field_tag 'shippingCountry' %>
              <%= hidden_field_tag 'shippingCountryCode' %> 
              <%= hidden_field_tag 'shippingAddress1' %> 
              <%= hidden_field_tag 'shippingState' %>
              <%= hidden_field_tag 'shippingZip' %> 
              <%= hidden_field_tag 'shippingName' %>
              <%= hidden_field_tag 'one' %>
              
          <% end %>
          </div>
        </div>
      
</section>
</div>
<script src="https://checkout.stripe.com/checkout.js"></script>
<script type="text/javascript">
  
  var handler = StripeCheckout.configure({
    key: '<%= @stripe_key %>',
    token: function(token, arg) {
      document.getElementById("stripeToken").value = token.id;
      document.getElementById("stripeEmail").value = token.email;
      document.getElementById("billingApt").value = arg.billing_address_city;
      document.getElementById("billingCity").value = arg.billing_address_city;
      document.getElementById("billingCountry").value = arg.billing_address_country;
      document.getElementById("billingCountryCode").value = arg.billing_address_country_code;
      document.getElementById("billingAddress1").value = arg.billing_address_line1;
      document.getElementById("billingState").value = arg.billing_address_state;
      document.getElementById("billingZip").value = arg.billing_address_zip;
      document.getElementById("billingName").value = arg.billing_name;
      document.getElementById("shippingApt").value = arg.shipping_address_apt;
      document.getElementById("shippingCity").value = arg.shipping_address_city;
      document.getElementById("shippingCountry").value = arg.shipping_address_country;
      document.getElementById("shippingCountryCode").value = arg.shipping_address_country_code;
      document.getElementById("shippingAddress1").value = arg.shipping_address_line1;
      document.getElementById("shippingState").value = arg.shipping_address_state;
      document.getElementById("shippingZip").value = arg.shipping_address_zip;
      document.getElementById("shippingName").value = arg.shipping_name;
      document.getElementById("one").value = true;
      document.getElementById("chargeForm").submit();
    }
  });
   document.getElementById('btn-buy').addEventListener('click', function(e) {
    handler.open({
      name: 'Sock and Box',
      description: 'Monthly Socks Delivered ($8.99)',
      amount: 899,
      shippingAddress: true,
      billingAddress: true
   });
   e.preventDefault();
  });
   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-57256394-1', 'auto');
  ga('send', 'pageview');
</script>