
<div id='gift'>
  <h2  style='margin-top: 10px;' class='text-center'>&nbsp;</h2>
    <div  class='opening text-center'>
      
        <h1>Give the Gift of Socks</h1>
        
        <h3>Sock & Box is the perfect gift for the men in your life. Simply pick the subscription length and you're good to go! </h3>
    </div>
    <p class='open-arrow'><a style='color: #90C695;' class='scroll-link' href="#about"><i class='fa fa-angle-down'></i></a></p>
</div>
<section id='about' class='bg2'>
  <div class='text-center'>
    <h2 style='font-size: 4em;'>choose your gift</h2>
    <br>
    <br>
   
    <div class='row'>
      <div class='container'> 
      <div id='sock1' class='col-md-4'>
       <div class='circle-num cool-list'>
        <a class='scroll-link' href="#subscribe" id='oneMonth'>1 pair</a></div>
        <br>
        <div class='sock-quality cool-list'>
          <h3>$15</h3>
          <p>Let us know your shipping info and we will send you a pair of our socks monthly. </p>
        </div>
      </div>
      <div id='sock2' class='col-md-4'>
        <div class='circle-num cool-list'> <a id='twoMonth' class='scroll-link' href="#subscribe">3 pairs</a> </div>
        <br>
        <div class='sock-quality cool-list'>
          <h3>$33</h3>
          <p>We'll get the socks to you in 5-10 business days. Shipping is free of charge. </p>
        </div>
      </div>
      <div id='sock3' class='col-md-4'>
        
         <div class='circle-num text-center cool-list'><a class='scroll-link' href="#subscribe" id='threeMonth'>6 pairs</a> </div>
        <br>
         <div class='sock-quality cool-list'>
          <h3>$60</h3>
          <p>You receive them in the mail and feel great by slipping on your fresh, new, fancy socks!</p>
        </div>
      </div>

    </div>
  </div>
    <br>
  </div>
</section>
 <div class='bg11'>
  <p class='info'> <span  id='happysocks'><a href="/gift">let's get <i>fancy</a></i></span> </p>
  </div>
<section style='padding: 100px;' id='subscribe' class='bg5'>

    <div class='row'>
      <div class='col-md-2'>&nbsp;</div>
      <div class='col-md-8'>
            <div class='content-box'>

              <h1 class='text-center'>Sock & Box</h1>
              <p class='text-center'>Subscribe now for only $9.99 a month!</p>
              <p class='text-center'></p>
          <%= form_tag charges_path, id:'chargeForm' do %>
    
               <p class='text-center'><a id="btn-buy" type="button" class='btn'>purchase</a></p>
            <br>
              <%= hidden_field_tag 'stripeToken' %>
              <%= hidden_field_tag 'stripeEmail' %> 
              <%= hidden_field_tag 'billingApt' %>
              <%= hidden_field_tag 'billingCity' %> 
              <%= hidden_field_tag 'billingCountry' %>
              <%= hidden_field_tag 'billingCountryCode' %> 
              <%= hidden_field_tag 'billingAddress1' %> 
              <%= hidden_field_tag 'billingState' %>
              <%= hidden_field_tag 'billingZip' %> 
              <%= hidden_field_tag 'billingName' %>
              <%= hidden_field_tag 'shippingApt' %>
              <%= hidden_field_tag 'shippingCity' %> 
              <%= hidden_field_tag 'shippingCountry' %>
              <%= hidden_field_tag 'shippingCountryCode' %> 
              <%= hidden_field_tag 'shippingAddress1' %> 
              <%= hidden_field_tag 'shippingState' %>
              <%= hidden_field_tag 'shippingZip' %> 
              <%= hidden_field_tag 'shippingName' %>

              
          <% end %>
          </div>
        </div>
    </div>
</section>

