<section id='top' class='bg1'>
    <br>
    <br>
    <br>
    <br>
  <div class='container'> 
  <div class='red-dot1'>Free Shipping</div>
  <div class='red-dot2'>Every Month</div>
  <div class='red-dot3'>Once a Month</div>
  <div class='red-dot5'>Great Quality</div>
  <div class='red-dot4'>$14.99</div>
  <div class='red-dot6'>1 Pair</div>
   <div id='opening'>
    <div class='content-box row'>
    <br>
      <div class="col-md-6 sub-left">
        <h1>Sock & Box</h1>
        <p>We deliver cool socks to your home each month.</p>
      </div>
      <div class='col-md-6 sub-right'>
          
       
        <div class='learn-more'>
          <a style="font-size: 2em;" class='scroll-link btn' href="#about">Continue</a>
          <a style="font-size: 2em;" class='scroll-link btn' href="#about"><i class="fa fa-angle-double-down fa-2x"></i></a>
        </div>
      </div>
    </div>
  <div style='height: 300px;'></div>

   <div class='row container'>
    <div class='col-md-2'>&nbsp;</div>
     <div class='col-md-8 down text-center'>
 <p><a class='scroll-link' href="#instagram">Find out how you can use <i>Instagram</i> to win free socks.</a><p>
    </div>
    <div class='col-md-2'></div>
  </div> 
</section>
<section id='about' class='bg2'>
  <div class='container text-center'>
    <br>
    <h2>1 pair of socks <i>delivered</i><br> once a month</h2>
    <br>
    <div clsas='row'>
      <div id='sock1' class='col-md-4'>
       <div class='circle-num'><b>$</b></div>
        <br>
        <div class='sock-quality'>
          <h4>&nbsp;</h4>
          <p>Provide your shipping info and subscribe to 1 pair of socks monthly. Pay $14.99 with shipping included.</p>
        </div>
      </div>
      <div id='sock2' class='col-md-4'>
        <div class='circle-num'><i class='fa  fa-heart'></i></div>
        <br>
        <div class='sock-quality'>
          <h4>&nbsp;</h4>
          <p>We deliver high quality socks to your home every month. You don't have to worry about a thing.</p>
        </div>
      </div>
      <div id='sock3' class='col-md-4'>
        
         <div class='circle-num text-center'><i class='fa  fa-instagram'></i></div>
        <br>
         <div class='sock-quality'>
          <h4>&nbsp;</h4>
          <p>Subscribers with the most Instagram likes win free socks. Verify your post through our website.</p>
        </div>
      </div>
    </div>
    <br class='clear'>
  </div>
  <br>
</section>
<section class='bg3'>
  <div class='container'>
    <div class='row'>
      <div class='intro col-md-6'>
        <br>
        <h2>Why Socks?</h2>
        <p class='lead'>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>
        <p class='pull-left'><%= image_tag('sock4.png') %></p>
        <p class='lead'>, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae </p>
        <p id='sock-start' class='lead'>, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae  quasi architecto beatae vitae   et quasi architecto beatae vitae </p>
        <p class='lead'>, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae  quasi architecto beatae vitae   et quasi architecto beatae vitae </p>
      </div>
      <div class='col-md-6'>&nbsp;</div>
    </div>
  </div>
</section>
 <br id='sock-start'>
<section id='socks' class='bg4'>
  <div class='container text-center'>
    <h2 class='text-center'>You can't afford <i>not</i><br> to look this good.</h2>
    <div clsas='row'>
       <div id='sock2' class='col-md-3'>
        <p class='text-center'><%= image_tag('sock5.png') %></p>
        <br>
        <p class='text-center'><%= image_tag('soc3.png') %></p>
        
      </div>
     <div id='sock4' class='col-md-6'>
       
        <div class='sock-list'>
          <p class='text-center'>Commitment Problems? We got you covered.
  You can purchase just 1 month (5 pairs) of our socks.</p>
        </div>
        <br>
        <div class='sock-list'>
          <p class='text-center'>Commitment Problems? We got you covered.
You can purchase just 1 month (5 pairs) of our socks.</p>
        </div>
        <br>
        <div class='sock-list'>
          <p class='text-center'>Commitment Problems? We got you covered.
  You can purchase just 1 month (5 pairs) of our socks.</p>
        </div>
        <br>
        <div class='sock-list'>
          <p class='text-center'>Commitment Problems? We got you covered.
You can purchase just 1 month (5 pairs) of our socks.</p>
        </div>
        <br>
        <div class='sock-list'>
          <p class='text-center'>Commitment Problems? We got you covered.
You can purchase just 1 month (5 pairs) of our socks.</p>
        </div>
      </div>
      <div id='sock3' class='col-md-3'>

       
        <p class='text-center'><%= image_tag('sock4.png') %></p>
        <br>
        <p class='text-center'><%= image_tag('sock1.png') %></p>
        
      
      </div>
      
    </div>
    
  </div>
  <br>
  <br>
</section>
<section id='subscribe' class='bg5'>
    <div class='row'>
      <div class='col-md-3'>&nbsp;</div>
      <div class='col-md-6'>
        <h2 class='text-center'>Step up your sock game.</h2>
  
        <div class='content-box row'>
          <div class="col-md-6 sub-left">
            <h1>Sock & Box</h1>
            <p>$9.99 / month</p>
          </div>
          <div class='col-md-6 sub-right'>
          <%= form_tag charges_path, id:'chargeForm' do %>
            <div class="field">
              <h5><%= label_tag :address, 'address:'  %></h5>
              <%= text_field_tag 'address', nil, style: 'width: 100%;' %>
            </div>
            <div class="field">
              <h5><%= label_tag :city, 'city:'  %></h5>
              <%= text_field_tag 'city', nil, style: 'width: 100%;' %>
            </div>

            <div class="field">
              <h5><%= label_tag :country, 'province:'  %></h5>
              <%= text_field_tag 'country', nil, style: 'width: 100%;' %>
            </div>
            <div class="field">
              <h5><%= label_tag :postal, 'postal:' %></h5>
              <%= text_field_tag 'postal', nil, style: 'width: 100%;' %>
            </div>
             <a style="font-size: 2em;" id="btn-buy" type="button" class='btn pull-right'>subscribe</a>
            <br>
             	<%= hidden_field_tag 'stripeToken' %>
              <%= hidden_field_tag 'stripeEmail' %>  
              <script src="https://checkout.stripe.com/checkout.js"></script>
          <% end %>
          </div>
        </div>
        <br>
        <br class='clear'>
      </div>
      <div class='col-md-3'>
        <h2 class='text-center'>&nbsp;</h2>
        <p id='one' style='margin-top: 40%;' class='lead'><i class='fa fa-check-circle fa-2x'></i>Free Delivery</p>
        <br>
        <p id='two' class='lead'><i class='fa fa-check-circle fa-2x'></i>Cancel Anytime</p>
        <br>
        <p id='three' class='lead'><i class='fa fa-check-circle fa-2x'></i>New styles every month</p>
      </div>
      <br>
      <br>
      <br class='clear'>
    </div>
</section>
<section id='instagram' class='bg7'>
  <div class='container text-center'>
    <br>
    <h2>Seriously, you can win free socks for life</h2>
    <br>
    <div class='insta-cta'>
      <ol>
        <li><p class='lead'>make sure you join the club and subscribe above</p></li>
        <li><p class='lead'>come up with a creative Instagram post using the #imsofancy hashtag</p></li>
        <li><p class='lead'>verify your account with us by logging in<a style="font-size: 2em;"  id='insta-signin' class='btn'> <i class='fa fa-instagram fa-2x'></i> click here</a></p></li>
        <li><p class='lead'>the top three subscribers appear on our homepage</p></li>
        <li><p class='lead'>these three winners dont have to pay for their socks the following month</p> </li>
      </ol>

    </div>
    <br>
    <h3>top three subscribers this month so far</h3>
    <br>
    <div class='row text-left'>
      <div class='col-md-4'>
        <div class='insta-card'>
          <h3>hurley87</h3>
          <div class='sock-list insta1'>

          </div>
          <hr>
          <h3><i class='fa  fa-heart'></i> 56 likes</h3>
          <hr>
          <h4>@soxnbox is the best! #imsofancy #mensfashion</h4>
        </div>
      </div>
      <div class='col-md-4'>
        <div class='insta-card'>
          <h3>gordo</h3>
          <div class='sock-list insta2'>
          </div>
          <hr>
          <h3><i class='fa  fa-heart'></i> 34 likes</h3>
          <hr>
          <h4>@soxnbox just arrived today #imsofancy #ladieslikethis</h4>
        </div>
      </div>
      <div class='col-md-4'>
        <div class='insta-card'>
          <h3>uclJck</h3>
          <div class='sock-list insta3'>
          </div>
          <hr>
          <h3><i class='fa  fa-heart'></i> 28 likes</h3>
          <hr>
          <h4>Everyone should check out @soxnbox. #imsofancy #bieber </h4>
        </div>
        <br>
      </div>
    </div>
  </div>
</section>
<section id='faq' class='bg6'>
  <div class='container text-center'>
    <h2 style='border-color: #F9A46C;' class='center'>Frequently Asked Questions</h2>
    <div class='row'>
      <div class='col-md-4'>
        <br>
        <div class='faq-circle'>
          <h4>WHAT IS SOX N BOX?</h4>
          <p>Soxy is a sock subscription service that sends you 5 pairs of awesomely stylish socks every month.</p>

        <br>

          <h4>HOW DO I CANCEL?</h4>
  
          <p>Cancellations are easy. You can cancel your subscription by sending us an email to hello@soxy.com</p>
        </div>
      </div>
      <div class='col-md-4'>
        <br>
        <div class='faq-circle'>
          <h4>SHIPPING POLICY</h4>

          <p>Shipping is free. Your 5 pairs of socks typically arrive in 2-7 business days after your purchase and get you looking good for the month.</p>

        <br>

          <h4>DO I HAVE TO SUBSCRIBE?</h4>
          <p>No, you can purchase Soxy on a month-to-month basis. Simply select the single order on the pricing page dropdown.</p>
        </div>
      </div> 
      <br>
      <div class='col-md-4'>
        <div class='faq-circle'>
          <h4>RETURN POLICY</h4>
          <p>You have 365 days. Simply send 'em back and we will happily give you a refund. We don't, however accept socks that have been opened or worn.</p>

        <br>
        
          <h4>WHAT ARE THE SOCKS MADE OF?</h4>
          <p>Soxy Socks are made of the finest Peruvian Pima Cotton. The composition is 80% Pima Cotton, 15% Polyester and 5% Spandex</p>
        </div>
      </div>
    </div>

  </div> 
  <br>
  <br><br>
      <p style='color: black;' class='text-center'>Still have questions? Send us an email hello@soxnbox.com</p> 
      <br>
      <br>
</section>
<script src="https://cdn.auth0.com/w2/auth0-widget-5.2.min.js"></script>
<script type="text/javascript">
  
  var handler = StripeCheckout.configure({
  key: '<%= @stripe_key %>',
  token: function(token, arg) {
    document.getElementById("stripeToken").value = token.id;
    document.getElementById("stripeEmail").value = token.email;
    document.getElementById("chargeForm").submit();
  }
});
 document.getElementById('btn-buy').addEventListener('click', function(e) {
  handler.open({
    name: 'Sock and Box',
    description: 'Monthly Sock Delivered ($9.99)',
    amount: 999
});
e.preventDefault();
});


  var widget = new Auth0Widget({
    domain:         'dhurls99.auth0.com',
    clientID:       'snHqvok95wKwMgaZmC4TfsHnjNbPUzk8',
    callbackURL:    'http://www.sockandbox.com/auth/auth0/callback',
    showIcon: false,
     showForgot: false,
     connections: ['instagram']
  });

  $('#insta-signin').on('click', function() {
      widget.signup({ scope: 'openid profile' });
  });

 


  

</script>