<nav>
  <h1><a class='scroll-link' href='#top'>S<span class='ock'>ock</span> & B<span class='ox'>ox</span></a></h1>
  <ul>
    <li><a class='scroll-link' href="#about">about</a></li>
    <li><a class='scroll-link' href="#socks">socks</a></li>
    <li><a class='scroll-link' href="#subscribe">subscribe</a></li>
  </ul>
</nav>
<section id='top' class='bg1'>
  <div style='width: 60%;' class='container'>
    <h2 class='text-center'>Tagline</h2>
      <div class="embed-responsive embed-responsive-4by3 text-center">
        <iframe class='embed-responsive-item' width="560" height="315" src="//www.youtube.com/embed/ALAkF14LLsQ" allowfullscreen></iframe>
      </div>  
  </div>
</section>
<section id='about' class='bg2'>
  <div class='container'>
    <h2 class='text-center'>about</h2>

  </div>
</section>
<section class='bg3'>
  <div class='container'>
    <h2 class='text-center'>about</h2>

  </div>
</section>
<section id='socks' class='bg4'>
  <div class='container'>
    <h2 class='text-center'>socks</h2>
  </div>
</section>
<section id='subscribe' class='bg5'>
  <div class='container'>
    <h2 class='text-center'>subscribe</h2>
  <%= form_tag charges_path, id:'chargeForm' do %>
    <div class="field">
      <%= label_tag :address  %>
      <%= text_field_tag 'address' %>
    </div>
    <div class="field">
      <%= label_tag :city  %>
      <%= text_field_tag 'city' %>
    </div>

    <div class="field">
      <%= label_tag :country  %>
      <%= text_field_tag 'country' %>
    </div>
    <div class="field">
      <%= label_tag :postal %>
      <%= text_field_tag 'postal' %>
    </div>
     	<%= hidden_field_tag 'stripeToken' %>
      <%= hidden_field_tag 'stripeEmail' %>  
      <button id="btn-buy" type="button" class="btn btn-success btn-lg">I want this!</button>
      <script src="https://checkout.stripe.com/checkout.js"></script>
      <script>
      var handler = StripeCheckout.configure({
        key: '<%= @stripe_key %>',
        token: function(token, arg) {
          document.getElementById("stripeToken").value = token.id;
          document.getElementById("stripeEmail").value = token.email;
          document.getElementById("chargeForm").submit();
        }
      });
       document.getElementById('btn-buy').addEventListener('click', function(e) {
        handler.open({
          name: 'Sock and Box',
          description: 'Monthly Sock Delivered($9.99)',
          amount: 999
      });
      e.preventDefault();
     });
    </script>
  <% end %>
  </div>
</section>
