<section id='top' class='bg1'>
    <br>
    <br>
    <br>
    <br>
  <div class='container'> 
  <canvas id="heatmap" class="clear" height="600" width="1500"> </canvas> 
   <style type="text/css">
    #heatmap {
      position: relative;
      right: 250px;
    }
    </style>
   <div id='vid-container' class="embed-responsive embed-responsive-4by3"><p class='text-right'><iframe style='height: 360px !important; ' id='youtube' class='embed-responsive-item' width="560" height="315" src="//www.youtube.com/embed/ALAkF14LLsQ" allowfullscreen></iframe></p></div>
   </div>   
  <div><p class='down' class='text-center'><a class='scroll-link' href="#about"><i class="fa fa-angle-double-down fa-5x"></i></a><p></div>
</section>
<section id='about' class='bg2'>
  <div class='container text-center'>
    <h2>Join the club</h2>
    <h3>in just <i>3</i><br> easy steps.</h3>
    <br>
    <br>
    <div clsas='row'>
      <div id='sock1' class='col-md-4'>
        <div class='circle-num text-center'>1</div>
        <br>
        <h4>Subscribe</h4>
        <p>laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</p>
      </div>
      <div id='sock2' class='col-md-4'>
        <div class='circle-num'>2</div>
        <br>
        <h4>Delivered</h4>
        <p>laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</p>
      </div>
      <div id='sock3' class='col-md-4'>
        <div class='circle-num'>3</div>
        <br>
        <h4>Rock Out</h4>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</p>
      </div>
    </div>
    <br class='clear'>
    <h3>You can't afford <i>not</i><br/> to look this good.</h3>
    <br class='clear'>
  <br>
  
  </div>
  <br>
</section>
<section class='bg3'>
  <div class='container'>

  </div>

</section>
 <br id='sock-start'>
<section id='socks' class='bg4'>
  <div class='container text-center'>
    <h2 class='text-center'>These socks are fancy</h2>
    <div clsas='row'>
      <br>
        <br>
      <h3>Made in <i>Canada</i><br>so don't worry about quality.</h3>
      <div id='sock1' class='col-md-3'>
        <div style='margin-top: 300px;' class='sock-quality'>
          <p class='text-center'>Commitment Problems? We got you covered.
  You can purchase just 1 month (5 pairs) of our socks. No strings attached.</p>
        </div>
        <br>
        <br>
        <div class='sock-quality'>
          <p class='text-center'>Commitment Problems? We got you covered.
You can purchase just 1 month (5 pairs) of our socks. No strings attached.</p>
        </div>
      </div>
      <div id='sock2' class='col-md-3'>
        <div class='sock-quality'>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
        </div>
        <br>
        <br>
        <%= image_tag('sock5.png') %>
         <%= image_tag('soc3.png') %>
         <br>
         <br>
        <div class='sock-quality'>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
        </div>
      </div>
      <div id='sock3' class='col-md-3'>

        <div class='sock-quality'>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
        </div>
        <br>
        <br>
        <%= image_tag('sock4.png') %>
        <%= image_tag('sock1.png') %>
        <br>
        <br>
        <div class='sock-quality'>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
        </div>
        </div>
      </div>
      <div id='sock4' class='col-md-3'>
       
        <div style='margin-top: 300px;' class='sock-quality'>
          <p class='text-center'>Commitment Problems? We got you covered.
  You can purchase just 1 month (5 pairs) of our socks. No strings attached.</p>
        </div>
        <br>
        <br>
        <div class='sock-quality'>
          <p class='text-center'>Commitment Problems? We got you covered.
You can purchase just 1 month (5 pairs) of our socks. No strings attached.</p>
        </div>
      </div>
    </div>
    
  </div>
  <br>
  <br>
</section>
<section id='subscribe' class='bg5'>
    <h2 class='text-center container'>Step up your sock game.</h2>
    <br><br>
    <div class='content-box row'>
    <div class='row'>
      <div class='col-md-4'>
        <i class='fa fa-check-circle fa-2x'></i>
        Free Delivery
      </div>
      <div class='col-md-4'>
         <i class='fa fa-check-circle fa-2x'></i>
         Cancel Anytime
      </div>
      <div class='col-md-4'>
         <i class='fa fa-check-circle fa-2x'></i>
         New styles every month
      </div>
    </div>
    <br>
    <br>
      <div class="col-md-6 sub-left">
        <h1 class='text-center'>Sock & Box</h1>
      </div>
      <div class='col-md-6 sub-right'>
      <%= form_tag charges_path, id:'chargeForm' do %>
        <div class="field">
          <h5><%= label_tag :address, 'address:'  %></h5>
          <%= text_field_tag 'address', nil, style: 'width: 100%;' %>
        </div>
        <div class="field">
          <h5><%= label_tag :city, 'city:'  %></h5>
          <%= text_field_tag 'city', nil, style: 'width: 100%;' %>
        </div>

        <div class="field">
          <h5><%= label_tag :country, 'province:'  %></h5>
          <%= text_field_tag 'country', nil, style: 'width: 100%;' %>
        </div>
        <div class="field">
          <h5><%= label_tag :postal, 'postal:' %></h5>
          <%= text_field_tag 'postal', nil, style: 'width: 100%;' %>
        </div>
        <br>
         	<%= hidden_field_tag 'stripeToken' %>
          <%= hidden_field_tag 'stripeEmail' %>  
          <button style="font-size: 2em;" id="btn-buy" type="button" class='btn btn-success pull-right'>subscribe</button>
          <script src="https://checkout.stripe.com/checkout.js"></script>
      <% end %>
      </div>
    </div>
    <br>
    <br class='clear'>
</section>
<section id='faq' class='bg6'>
  <div class='container text-center'>
    <h2 class='center'>Frequently Asked Questions</h2>
    <div class='row'>
      <div class='col-md-4'>
        <br>
        <div class='faq-circle'>
          <h4>WHAT IS SOX N BOX?</h4>
          <p>Soxy is a sock subscription service that sends you 5 pairs of awesomely stylish socks every month.</p>
        </div>  
        <br>
        <div class='faq-circle'>
          <h4>HOW DO I CANCEL?</h4>
  
          <p>Cancellations are easy. You can cancel your subscription by sending us an email to hello@soxy.com</p>
        </div>
      </div>
      <div class='col-md-4'>
        <br>
        <div class='faq-circle'>
          <h4>SHIPPING POLICY</h4>

          <p>Shipping is free. Your 5 pairs of socks typically arrive in 2-7 business days after your purchase and get you looking good for the month.</p>
        </div>
        <br>
        <div class='faq-circle'>
          <h4>DO I HAVE TO SUBSCRIBE?</h4>
          <p>No, you can purchase Soxy on a month-to-month basis. Simply select the single order on the pricing page dropdown.</p>
        </div>
      </div> 
      <br>
      <div class='col-md-4'>
        <div class='faq-circle'>
          <h4>RETURN POLICY</h4>
          <p>You have 365 days. Simply send 'em back and we will happily give you a refund. We don't, however accept socks that have been opened or worn.</p>
        </div>
        <br>
        <div class='faq-circle'>
          <h4>WHAT ARE THE SOCKS MADE OF?</h4>
          <p>Soxy Socks are made of the finest Peruvian Pima Cotton. The composition is 80% Pima Cotton, 15% Polyester and 5% Spandex</p>
        </div>
      </div>
    </div>

  </div> 
  <br>
  <br><br>
      <p style='color: black;' class='text-center'>Still have questions? Send us an email hello@soxnbox.com</p> 
      <br>
      <br>
</section>
<script type="text/javascript">
  
  var handler = StripeCheckout.configure({
  key: '<%= @stripe_key %>',
  token: function(token, arg) {
    document.getElementById("stripeToken").value = token.id;
    document.getElementById("stripeEmail").value = token.email;
    document.getElementById("chargeForm").submit();
  }
});
 document.getElementById('btn-buy').addEventListener('click', function(e) {
  handler.open({
    name: 'Sock and Box',
    description: 'Monthly Sock Delivered ($9.99)',
    amount: 999
});
e.preventDefault();
});

</script>