<section id='top' class='bg1'>
    <br>
    <br>
    <br>
    <br>
  <div class='container'> 
   <div id='opening'>
    <div class='content-box'>
    
        <h1 class='text-center'>Sock & Box</h1>
        <p class='text-center'>Happy Socks delivered to your door every month for only $14.99</p>
   
    </div>
    <div>
      <p class='open-arrow'><a class='scroll-link' href="#about"><i class='fa fa-arrow-circle-down'></i></a></p>
    </div>
</section>
<section id='about' class='bg2'>
  <div class='container text-center'>

    <h2>1 pair of socks <i>delivered</i> once a month</h2>
    <br>
    <br>
    <div clsas='row'>
      <div id='sock1' class='col-md-4'>
       <div class='circle-num cool-list'><b>1</b></div>
        <br>
        <div class='sock-quality cool-list'>
          <h3>Introduce Yourself</h3>
          <p>Let us know your shipping info and we send you 1 pair of socks monthly.</p>
        </div>
      </div>
      <div id='sock2' class='col-md-4'>
        <div class='circle-num cool-list'>2</div>
        <br>
        <div class='sock-quality cool-list'>
          <h3>Put Your Feet Up</h3>
          <p>We’ll get the socks to you in 2-7 business days. Shipping is free.</p>
        </div>
      </div>
      <div id='sock3' class='col-md-4'>
        
         <div class='circle-num text-center cool-list'>3</div>
        <br>
         <div class='sock-quality cool-list'>
          <h3>Get Fancy</h3>
          <p>Share your instagram pics and compete for free socks</p>
        </div>
      </div>
    </div>
    <br class='clear'>
  </div>
  <br>
</section>

<section class='bg3'>
  <div class='container'>
    <hr>
    <div class='row'>
      <div class='intro col-md-6'>
        
        <p class='pull-left bg8'></p>
 
        <p class='lead'><br> Our socks - a high quality combed cotton and some of the best fabrics. Want us to be specific: 80% combed cotton, 17% polyamide, 3% elastane. Bottom line, they’re fancy as f#*k.  </p>
        <br class='clear'>
        <p class='pull-right bg9'></p>
    
        <p class='lead'><br>These socks are delivered straight to your doorstep. Every month and you don't have to worry about shipping. That’s pretty fancy, too. </p>
      </div>
      <div class='col-md-6 coolpic'>&nbsp;</div>
    </div>
  </div>
</section>

<section id='socks' class='bg4'>
  <br>
  <div class='container text-center'>
    <hr>
    <br>
    <div clsas='row'>
      <div class='col-md-6'>
        <p id='cool1'><span class='sock1'><%= image_tag("happysocks2.png") %></span><span class='sock2'><%= image_tag("happysocks3.png") %></span></p>
        
      </div>
      <div class='col-md-6'>
       
        <div class='sock-list'>
          <p class='lead'>You’ll never get the same pair twice and we promise you will love the pair you get – if you don’t, send em back and we’ll get you a fresh design!</p>
        </div>
      </div>
    </div> 
    <br class='clear'>
    <div clsas='row'>
      <div class='col-md-6'>
        <div class='sock-list'>
          
          <p class='lead'>Commitment Problems? We got you covered. You can purchase just 1 month of our socks.</p>
        </div>
        
      </div>
      <div class='col-md-6'>
       <p id='cool2'><span class='sock1'><%= image_tag("happysocks4.png") %></span><span class='sock2'><%= image_tag("happysocks5.png") %></span></p>
      </div>
    </div>     
  </div>
  <br>
</section>
 <br id='sock-start'>
<section id='subscribe' class='bg5'>
    <div class='row'>
      <div class='col-md-3'>&nbsp;</div>
      <div class='col-md-6'>
        <h2 class='text-center'>Step up your sock game.</h2>
            <div class='content-box'>

              <h1 class='text-center'>Sock & Box</h1>
              <p class='text-center'>Need some copy here about referral. After a subscription is given that subscriber gets a referral code. If friends or family use this codethat subscriber gets a discount on their next month. </p>
              
          <%= form_tag charges_path, id:'chargeForm' do %>
              <div style='margin: auto; width: 85%;' class="field">
              <p clsas='text-center'><%= label_tag :referral, 'Referral Code:'  %></p>
              <%= text_field_tag 'referral', nil, class: 'form-control'%>
            </div>
               <p class='text-center'><a style="font-size: 2em;" id="btn-buy" type="button" class='btn'>subscribe</a></p>
            <br>
             	<%= hidden_field_tag 'stripeToken' %>
              <%= hidden_field_tag 'stripeEmail' %> 
              <%= hidden_field_tag 'billingApt' %>
              <%= hidden_field_tag 'billingCity' %> 
              <%= hidden_field_tag 'billingCountry' %>
              <%= hidden_field_tag 'billingCountryCode' %> 
              <%= hidden_field_tag 'billingAddress1' %> 
              <%= hidden_field_tag 'billingState' %>
              <%= hidden_field_tag 'billingZip' %> 
              <%= hidden_field_tag 'billingName' %>
              <%= hidden_field_tag 'shippingApt' %>
              <%= hidden_field_tag 'shippingCity' %> 
              <%= hidden_field_tag 'shippingCountry' %>
              <%= hidden_field_tag 'shippingCountryCode' %> 
              <%= hidden_field_tag 'shippingAddress1' %> 
              <%= hidden_field_tag 'shippingState' %>
              <%= hidden_field_tag 'shippingZip' %> 
              <%= hidden_field_tag 'shippingName' %>

              <script src="https://checkout.stripe.com/checkout.js"></script>
          <% end %>
          </div>
        </div>
      <div class='col-md-3'>
        <h2 class='text-center okwhat'>&nbsp;</h2>

        <p class='sub-list' class='lead'><i class='fa fa-check-circle fa-2x'></i> Every Month</p>
        <br>
        <p class='sub-list' class='lead'><i class='fa fa-check-circle fa-2x'></i> Free Delivery</p>
        <br>
        <p class='sub-list' class='lead'><i class='fa fa-check-circle fa-2x'></i> Cancel Anytime</p>
        <br>
        <p class='sub-list' class='lead'><i class='fa fa-check-circle fa-2x'></i> Unique Styles</p>
        <br>
        <p class='sub-list' class='lead'><i class='fa fa-check-circle fa-2x'></i> High Quality</p>
        
        <br>
        <p class='sub-list'  class='lead'><i class='fa fa-check-circle fa-2x'></i> Great Gift Idea</p>
       
      </div>
      <br>
    </div>
       <br>
      <br class='clear'>
</section>
<section id='instagram' class='bg7'>
  <div class='container text-center'>

    <br>
    <h2 class='text-center'>You can't afford <i>not</i><br> to look this good</h2>
    <br>
    <h3>Each month we give away free socks to subscribers who earn the most likes over Instagram.</h3>
    <br>
    <div class='row text-left'>
      <div class='col-md-4'>
        <div class='insta-card'>
          <h3>hurley87</h3>
          <div class='sock-list insta1'>

          </div>
          <hr>
          <h3><i class='fa  fa-heart'></i> 56 likes</h3>
          <hr>
          <h4>@soxnbox is the best! #imsofancy #mensfashion</h4>
        </div>
      </div>
      <div class='col-md-4'>
        <div class='insta-card'>
          <h3>gordo</h3>
          <div class='sock-list insta2'>
          </div>
          <hr>
          <h3><i class='fa  fa-heart'></i> 34 likes</h3>
          <hr>
          <h4>@soxnbox just arrived today #imsofancy #ladieslikethis</h4>
        </div>
      </div>
      <div class='col-md-4'>
        <div class='insta-card'>
          <h3>uclJck</h3>
          <div class='sock-list insta3'>
          </div>
          <hr>
          <h3><i class='fa  fa-heart'></i> 28 likes</h3>
          <hr>
          <h4>Everyone should check out @soxnbox. #imsofancy #bieber </h4>
        </div>
        <br>
      </div>
    </div>
    <h3>Questions? <a style='text-decoration: none;' href="/faq" class='btn btn-success btn-lg'>Ask Here</a> </h3>
  </div>
</section>

<script type="text/javascript">
  
  var handler = StripeCheckout.configure({
    key: '<%= @stripe_key %>',
    token: function(token, arg) {
      document.getElementById("stripeToken").value = token.id;
      document.getElementById("stripeEmail").value = token.email;
      document.getElementById("billingApt").value = arg.billing_address_city;
      document.getElementById("billingCity").value = arg.billing_address_city;
      document.getElementById("billingCountry").value = arg.billing_address_country;
      document.getElementById("billingCountryCode").value = arg.billing_address_country_code;
      document.getElementById("billingAddress1").value = arg.billing_address_line1;
      document.getElementById("billingState").value = arg.billing_address_state;
      document.getElementById("billingZip").value = arg.billing_address_zip;
      document.getElementById("billingName").value = arg.billing_name;

      document.getElementById("shippingApt").value = arg.shipping_address_apt;
      document.getElementById("shippingCity").value = arg.shipping_address_city;
      document.getElementById("shippingCountry").value = arg.shipping_address_country;
      document.getElementById("shippingCountryCode").value = arg.shipping_address_country_code;
      document.getElementById("shippingAddress1").value = arg.shipping_address_line1;
      document.getElementById("shippingState").value = arg.shipping_address_state;
      document.getElementById("shippingZip").value = arg.shipping_address_zip;
      document.getElementById("shippingName").value = arg.shipping_name;
      document.getElementById("chargeForm").submit();
    }
  });
   document.getElementById('btn-buy').addEventListener('click', function(e) {
    handler.open({
      name: 'Sock and Box',
      description: 'Monthly Sock Delivered ($14.99)',
      amount: 1499,
      shippingAddress: true,
      billingAddress: true
   });
   e.preventDefault();
  });

</script>