<section id='top' class='bg1'>
    <br>
    <br>
    <br>
  <div class='container'> 
   <div id='opening'>
    <div class='content-box'>
    
        <h1 class='text-center'>Sock & Box</h1>
        <p class='text-center'>Happy Socks delivered every month for only $14.99</p>
   
    </div>
    <div>
      <p class='open-arrow'><a class='scroll-link' href="#about"><i class='fa fa-arrow-circle-down'></i></a></p>
    </div>
</section>
<section id='about' class='bg2'>
  <div class='container text-center'>

    <h2 style='font-size: 4em;'>how it works</h2>
    <br>
    <br>
    <div clsas='row'>
      <div id='sock1' class='col-md-4'>
       <div class='circle-num cool-list'>1</div>
        <br>
        <div class='sock-quality cool-list'>
          <h3>Subcribe</h3>
          <p>Let us know your shipping info and we will send you a pair of our socks monthly. </p>
        </div>
      </div>
      <div id='sock2' class='col-md-4'>
        <div class='circle-num cool-list'>2</div>
        <br>
        <div class='sock-quality cool-list'>
          <h3>Recieve Socks</h3>
          <p>We'll get the socks to you in 5-10 business days. Shipping is free of charge. </p>
        </div>
      </div>
      <div id='sock3' class='col-md-4'>
        
         <div class='circle-num text-center cool-list'>3</div>
        <br>
         <div class='sock-quality cool-list'>
          <h3>Get Fancy</h3>
          <p>Feel great by slipping on your fresh, new, fancy socks!</p>
        </div>
      </div>
    </div>
    <br class='clear'>
  </div>

  <br>
  <br>
  <br>
  <br>
  <br>
</section>
<div class='sock-dis'>
<p class='text-center'>
<svg height="100" width="400">
  <polygon points=" 50,25 100,0 100,50" style="fill:#f37453;  " />
  <polygon points="100,0 100,50 150,25 200,0 200,50" style="fill:#f37453;" />
  <polygon points="200,0 200,50 250,25 300,0 300,50" style="fill:#f37453;" />
  <polygon points="300,50 300,0 350,25" style="fill:#f37453;" />
</svg> 
</p>
<section class='bg3'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='intro col-md-8'>
      
 
        <p  id='cool1' class='text-center'><span class='sock1'><%= image_tag("happysocks2.png") %></span><span class='sock2'><%= image_tag("happysocks3.png") %></span></p>
        <div class='sock-list'>
          <p class='info'>Colourful socks have recently become popular among the fashion conscious. There is a pair of high-quality socks for every occasion, mindset and style!</p>
        </div>
        <br>
      </div>
      <br>
    </div>
    <div class='col-md-2'></div>
  </div>
</section>
<p class='text-center'>
<svg height="100" width="400">
  <polygon points=" 50,25 100,0 100,50" style="fill:#f37453;  " />
  <polygon points="100,0 100,50 150,25 200,0 200,50" style="fill:#f37453;" />
  <polygon points="200,0 200,50 250,25 300,0 300,50" style="fill:#f37453;" />
  <polygon points="300,50 300,0 350,25" style="fill:#f37453;" />
</svg> 
</p>
<div class='bg8'></div>
<br>
<br>
<br>
<p class='text-center'>
<svg height="100" width="400">
  <polygon points=" 50,25 100,0 100,50" style="fill:#f37453;  " />
  <polygon points="100,0 100,50 150,25 200,0 200,50" style="fill:#f37453;" />
  <polygon points="200,0 200,50 250,25 300,0 300,50" style="fill:#f37453;" />
  <polygon points="300,50 300,0 350,25" style="fill:#f37453;" />
</svg> 
</p>
<section id='socks' class='bg4'>
  <br>
  <div class='container text-center'>
  
    <div clsas='row'>
      <div class='col-md-2'></div>
      <div class='col-md-8'>
        <p id='cool2'><span class='sock1'><%= image_tag("happysocks4.png") %></span><span class='sock2'><%= image_tag("happysocks5.png") %></span></p>
        <div class='sock-list'>
          <p class='info'>You’ll never get the same pair twice and we promise you will love the pair you get – if you don’t, send em back and we’ll get you a fresh design!</p>
        </div>
    </div> 
    <div class='col-md-2'></div>    
  </div>
  <br>
</section>
 <br id='sock-start'>
</div>
</div>
<p class='text-center'>
<svg height="100" width="400">
  <polygon points=" 50,25 100,0 100,50" style="fill:#f37453;  " />
  <polygon points="100,0 100,50 150,25 200,0 200,50" style="fill:#f37453;" />
  <polygon points="200,0 200,50 250,25 300,0 300,50" style="fill:#f37453;" />
  <polygon points="300,50 300,0 350,25" style="fill:#f37453;" />
</svg> 
</p>
<section id='subscribe' class='bg5'>
    <div class='row'>
      <div class='col-md-3'>&nbsp;</div>
      <div class='col-md-6'>
        <br>
   
            <div class='content-box'>

              <h1 class='text-center'>Sock & Box</h1>
              <p class='text-center'>Subscribe now for only $14.99 a month! </p>
        <!--       
          <%= form_tag charges_path, id:'chargeForm' do %>
              <div style='margin: auto; width: 85%;' class="field">
              <p clsas='text-center'><%= label_tag :referral, 'Referral Code:'  %></p>
              <%= text_field_tag 'referral', nil, class: 'form-control'%>
            </div> -->
               <p class='text-center'><a style="font-size: 2em;" id="btn-buy" type="button" class='btn'>subscribe</a></p>
            <br>
             	<%= hidden_field_tag 'stripeToken' %>
              <%= hidden_field_tag 'stripeEmail' %> 
              <%= hidden_field_tag 'billingApt' %>
              <%= hidden_field_tag 'billingCity' %> 
              <%= hidden_field_tag 'billingCountry' %>
              <%= hidden_field_tag 'billingCountryCode' %> 
              <%= hidden_field_tag 'billingAddress1' %> 
              <%= hidden_field_tag 'billingState' %>
              <%= hidden_field_tag 'billingZip' %> 
              <%= hidden_field_tag 'billingName' %>
              <%= hidden_field_tag 'shippingApt' %>
              <%= hidden_field_tag 'shippingCity' %> 
              <%= hidden_field_tag 'shippingCountry' %>
              <%= hidden_field_tag 'shippingCountryCode' %> 
              <%= hidden_field_tag 'shippingAddress1' %> 
              <%= hidden_field_tag 'shippingState' %>
              <%= hidden_field_tag 'shippingZip' %> 
              <%= hidden_field_tag 'shippingName' %>

              
          <% end %>
          </div>
        </div>
      <div class='col-md-3'>
<!--       <br>
      <br>
      <br>
      <br>
 

        <p class='sub-list' class='lead'><i class='fa fa-check-circle fa-2x'></i> Every Month</p>
        <br>
        <p class='sub-list' class='lead'><i class='fa fa-check-circle fa-2x'></i> Free Delivery</p>
        <br>
        <p class='sub-list' class='lead'><i class='fa fa-check-circle fa-2x'></i> Cancel Anytime</p>
        <br>
        <p class='sub-list' class='lead'><i class='fa fa-check-circle fa-2x'></i> Unique Styles</p>
        <br>
        <p class='sub-list' class='lead'><i class='fa fa-check-circle fa-2x'></i> High Quality</p>
        
        <br>
        <p class='sub-list'  class='lead'><i class='fa fa-check-circle fa-2x'></i> Great Gift Idea</p>
       
      </div>
      <br> -->
    </div>
       <br>
      <br class='clear'>
</section>
<script src="https://checkout.stripe.com/checkout.js"></script>
<script type="text/javascript">
  
  var handler = StripeCheckout.configure({
    key: '<%= @stripe_key %>',
    token: function(token, arg) {
      document.getElementById("stripeToken").value = token.id;
      document.getElementById("stripeEmail").value = token.email;
      document.getElementById("billingApt").value = arg.billing_address_city;
      document.getElementById("billingCity").value = arg.billing_address_city;
      document.getElementById("billingCountry").value = arg.billing_address_country;
      document.getElementById("billingCountryCode").value = arg.billing_address_country_code;
      document.getElementById("billingAddress1").value = arg.billing_address_line1;
      document.getElementById("billingState").value = arg.billing_address_state;
      document.getElementById("billingZip").value = arg.billing_address_zip;
      document.getElementById("billingName").value = arg.billing_name;

      document.getElementById("shippingApt").value = arg.shipping_address_apt;
      document.getElementById("shippingCity").value = arg.shipping_address_city;
      document.getElementById("shippingCountry").value = arg.shipping_address_country;
      document.getElementById("shippingCountryCode").value = arg.shipping_address_country_code;
      document.getElementById("shippingAddress1").value = arg.shipping_address_line1;
      document.getElementById("shippingState").value = arg.shipping_address_state;
      document.getElementById("shippingZip").value = arg.shipping_address_zip;
      document.getElementById("shippingName").value = arg.shipping_name;
      document.getElementById("chargeForm").submit();
    }
  });
   document.getElementById('btn-buy').addEventListener('click', function(e) {
    handler.open({
      name: 'Sock and Box',
      description: 'Monthly Sock Delivered ($14.99)',
      amount: 1499,
      shippingAddress: true,
      billingAddress: true
   });
   e.preventDefault();
  });

</script>