<nav>
  <h1><a class='scroll-link' href='#top'>S<span class='ock'>ock</span> & B<span class='ox'>ox</span></a></h1>
  <ul>
    <li><a class='scroll-link' href="#about">about</a></li>
    <li><a class='scroll-link' href="#socks">socks</a></li>
    <li><a class='scroll-link' href="#subscribe">subscribe</a></li>
  </ul>
</nav>
<section id='top' class='bg1'>
  <div style='width: 60%;' class='container'>
    <h2 class='text-center'>Tagline</h2>
    <br>
    <br>
    <br>
    <div class="text-center">
      <iframe class='embed-responsive-item youtube' width="560" height="315" src="//www.youtube.com/embed/ALAkF14LLsQ" allowfullscreen></iframe>
    </div>  
  </div>
</section>
<section id='about' class='bg2'>
  <div class='container'>
    <h2 class='text-center'>about</h2>

  </div>
</section>
<section class='bg3'>
  <div class='container'>

  </div>
</section>
<section id='socks' class='bg4'>
  <div class='container'>
    <h2 class='text-center'>socks</h2>
  </div>
</section>
<section id='subscribe' class='bg5'>
    <h2 class='text-center'>subscribe</h2>
    <br>
    <br>
    <br>
    <div class='content-box row'>
      <div class="col-md-6 sub-left">
        <h1 class='text-center'>Sock & Box</h1>
      </div>
      <div class='col-md-6 sub-right'>
      <%= form_tag charges_path, id:'chargeForm' do %>
        <div class="field">
          <h5><%= label_tag :address, 'address:'  %></h5>
          <%= text_field_tag 'address', nil, style: 'width: 100%;' %>
        </div>
        <div class="field">
          <h5><%= label_tag :city, 'city:'  %></h5>
          <%= text_field_tag 'city', nil, style: 'width: 100%;' %>
        </div>

        <div class="field">
          <h5><%= label_tag :country, 'province:'  %></h5>
          <%= text_field_tag 'country', nil, style: 'width: 100%;' %>
        </div>
        <div class="field">
          <h5><%= label_tag :postal, 'postal:' %></h5>
          <%= text_field_tag 'postal', nil, style: 'width: 100%;' %>
        </div>
        <br>
         	<%= hidden_field_tag 'stripeToken' %>
          <%= hidden_field_tag 'stripeEmail' %>  
          <button id="btn-buy" type="button" class='btn btn-success'>subscribe</button>
          <script src="https://checkout.stripe.com/checkout.js"></script>
          <script>
          var handler = StripeCheckout.configure({
            key: '<%= @stripe_key %>',
            token: function(token, arg) {
              document.getElementById("stripeToken").value = token.id;
              document.getElementById("stripeEmail").value = token.email;
              document.getElementById("chargeForm").submit();
            }
          });
           document.getElementById('btn-buy').addEventListener('click', function(e) {
            handler.open({
              name: 'Sock and Box',
              description: 'Monthly Sock Delivered($9.99)',
              amount: 999
          });
          e.preventDefault();
         });
        </script>
      <% end %>
      </div>
    </div>
</section>
