<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width">

	

</head>
<body style="margin: 0 auto; padding: 0; -webkit-text-size-adjust: none;">
<table width="100%" cellspacing="0" cellpadding="0">
<tr>
<td align="center" valign="top" style="padding: 0px; color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; text-align: left;">
<table width="580" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" class="table-centered" style="margin: 0 auto;">
<tr>
<td style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; text-align: left;">

	
<!-- Header -->
<table border="0" cellspacing="0" cellpadding="0" class="header" style="background-color: #0a3542; width: 580px;">
	<tr>
		<td class="padding-small" style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 5px; text-align: left;">&nbsp;</td>
	</tr>
	<tr> 
		<td style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; text-align: left;">
			<table border="0" cellspacing="0" cellpadding="0" class="header" style="background-color: #0a3542; width: 580px;">
				<tr>
					<td class="header-text" style="color: #f37453; font-family: Arial, Helvetica, sans-serif; font-size: 30px; padding: 10px; line-height: 28px; font-weight: bold; text-align: center;">
						Sock and Box
					</td>
				</tr>
				<tr>
					<td class="header-text" style="color: white; font-family: Arial, Helvetica, sans-serif; font-size: 16px; padding: 10px; line-height: 28px; font-weight: bold; text-align: center;">
						Happy Socks delivered to your door every month for only $14.99
					</td>
				</tr>
				<tr>
					<td class="padding-medium" style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 15px; text-align: left;">&nbsp;</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<table border="0" cellspacing="0" cellpadding="0" class="header-divider">
	
		<tr>
			<td style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 12px; text-align: left; background-color: #f37453; width: 580px;">&nbsp;</td>
		</tr>
		<tr>
			<td><%= image_tag attachments['photocool.png'].url %></td>
		</tr>
		<tr>
			<td style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 12px; text-align: left; background-color: #f37453; width: 580px;">&nbsp;</td>
		</tr>
</table>

<!-- Body -->
<table border="0" cellspacing="0" cellpadding="0" style='background-color: #0a3542;'>
	<tr>
		<td class="left-gutter" style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; text-align: left; width: 39px;"></td>
		<td class="content" style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; text-align: left; width: 550px;">
			<table border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td class="padding-large" style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 30px; text-align: left;">&nbsp;</td>
				</tr>
				<tr>
					<td class="heading1" style="font-family: Arial, Helvetica, sans-serif; font-weight: bold; line-height: 20px; color: #f37453; font-size: 19px; text-align: left;">
						1 pair of socks delivered once a month
					</td>
				</tr>
				<tr>
					<td class="padding-medium" style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 15px; text-align: left;">&nbsp;</td>
				</tr>
				<tr>
					<td style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; text-align: left; color: white;">
						et us know your shipping info and we send you 1 pair of socks monthly.
					</td>
				</tr>
				<tr>
					<td class="padding-medium" style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 15px; text-align: left;">&nbsp;</td>
				</tr>
				<tr>
					<td style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; text-align: left; color: white;">
						These socks are delivered straight to your doorstep. Every month and you don't have to worry about shipping. That’s pretty fancy, too.
					</td>
				</tr>
				<tr>
					<td class="padding-medium" style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 15px; text-align: left;">&nbsp;</td>
				</tr>
				<tr>
					<td class="padding-large" style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 30px; text-align: left;">&nbsp;</td>
				</tr>
			</table>
			<table border="0" cellspacing="0" cellpadding="0">
				
				<tr>
					<td><%= image_tag attachments['happysocks2.png'].url %></td>
					<td class="heading1" style="font-family: Arial, Helvetica, sans-serif; font-weight: bold; line-height: 20px; color: #f37453; font-size: 19px; text-align: left;">
						You’ll never get the same pair twice and we promise you will love the pair you get – if you don’t, send em back and we’ll get you a fresh design!
					</td>
				</tr>
				<tr>
					<td class="heading1" style="font-family: Arial, Helvetica, sans-serif; font-weight: bold; line-height: 20px; color: #f37453; font-size: 19px; text-align: left;">
						Commitment Problems? We got you covered. You can purchase just 1 month of our socks.
					</td>
					<td><%= image_tag attachments['happysocks5.png'].url %></td>
				</tr>
				<tr>
					<td><%= image_tag attachments['happysocks3.png'].url %></td>
					<td class="heading1" style="font-family: Arial, Helvetica, sans-serif; font-weight: bold; line-height: 20px; color: #f37453; font-size: 19px; text-align: left;">
						Catch HE recurrences early by making patients and caregivers aware of its symptoms.
					</td>
				</tr>
				<tr>
					<td class="heading1" style="font-family: Arial, Helvetica, sans-serif; font-weight: bold; line-height: 20px; color: #f37453; font-size: 19px; text-align: left;">
						We’ll get the socks to you in 2-7 business days. Shipping is free.
					</td>
					<td><%= image_tag attachments['happysocks4.png'].url %></td>
				</tr>
				<tr>
					<td class="padding-small" style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; height: 15px; text-align: left; background-color: #0a3542;">&nbsp;</td>
				</tr>
			</table>
			<table border="0" cellspacing="0" cellpadding="0" style='background-color: #fefbee;'>
				<tr>
					<td style='height: 10px;'></td>
				</tr>
				<tr>
					<td class="heading1" style="font-family: Arial, Helvetica, sans-serif; font-weight: bold; line-height: 20px; color: #f37453; width: 500px; font-size: 26px; text-align: center;">
						Share your instagram pics and compete for free socks
					</td>
				</tr>
				<tr>
					<td style='height: 10px;'></td>
				</tr>
				<tr>
					<td class="heading1" style="font-family: Arial, Helvetica, sans-serif; font-weight: bold; line-height: 20px; color: #f37453; width: 400px; font-size: 19px; text-align: center; color:  #0a3542;">
						Need some copy here about referral. After a subscription is given that subscriber gets a referral code. If friends or family use this codethat subscriber gets a discount on their next month.
					</td>
				</tr>
				<tr>
					<td style='height: 10px;'></td>
				</tr>
				<tr>
					<td>
						<table border="0" cellspacing="0" cellpadding="0" style='background-color: #0a3542;' align='center' width='200'>
							<tr><td style='height: 10px;'></td></tr>
							<tr>
								<td class="heading1" style="font-family: Arial, Helvetica, sans-serif; font-weight: bold; line-height: 20px; font-size: 26px; text-align: center;">
						<a style='color: #f37453; text-decoration: none;' href="http://www.sockandbox.com">subscribe</a>
								</td>
							</tr>
							<tr><td style='height: 10px;'></td></tr>
						</table>
					</td>
				</tr>
				<tr>
					<td style='height: 15px;'>&nbsp;</td>
				</tr>
			</table>
		</td>
		<td class="right-gutter" style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; text-align: left; width: 36px;">&nbsp;</td>
	</tr>
</table>

<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td class="left-gutter" style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; text-align: left; width: 39px;"></td>
		<td style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; text-align: left;">
			

			<!-- CTA Buttons -->
			<table border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; text-align: left;">
						<table border="0" cellspacing="0" cellpadding="0" style="width: 580px; height: 75px; background-color: #b6bd00; " bgcolor='#b6bd00'>
							<tr>
						
								<td style='background-color: #4b6daa; color: white; text-align: center; font-size: 36px;' >Facebook.</td>
							</tr>	
						</table>
					</td>
				</tr>
				<tr>
					<td class="padding-small" style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 5px; text-align: left; background-color: #0a3542;">&nbsp;</td>
				</tr>
				<tr>
					<td style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; text-align: left;">
						<table border="0" cellspacing="0" cellpadding="0" style="width: 580px; height: 75px; background-color: #47403a; " bgcolor='#b6bd00'>
							<tr>
							
								<td style='background-color: #82ddf2; color: white; text-align: center; font-size: 36px;' > Twitter.</td>
							</tr>	
						</table>
					</td>
				</tr>
				<tr>
					<td class="padding-small" style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 5px; text-align: left; background-color: #0a3542;">&nbsp;</td>
				</tr>
				<tr>
					<td style="color: #535353; background-color:  #47403a; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; text-align: left;">
						<table border="0" cellspacing="0" cellpadding="0" style="width: 503px; height: 75px; " >
							<tr>
								<tr>
			
								<td style='background-color: #47403a; color: white; text-align: center; font-size: 36px;' >Instagram</td>
							</tr>
							</tr>	
						</table>
					</td>
				</tr>
				<tr>
					<td class="padding-small" style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 5px; text-align: left; background-color: #0a3542;">&nbsp;</td>
				</tr>
			
		</td>
		<td class="right-gutter" style="color: #535353; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; text-align: left; width: 36px;"></td>
	</tr>
</table>

</td>
</tr>
</table>
</td>
</tr>
</table>
</body>
</html>